html, body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background-color: #F5F6F8;

	font-family: var(--font-famaly);
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;

	color: inherit;
}

:root {
	--font-famaly: 'Noto Sans', sans-serif;
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray: #A4A4A4;
	--gray-dark: #787D85;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #6344DF;
	--red-light: #FDC5BB;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
}

